* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


header {
    width: 1000px;
    z-index: 50;
    position: fixed;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    background-color: rgb(210, 183, 229);
    width: 100%;
    position: fixed;
}

.logo {
    width: 90px;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    margin: 20px;
    border: 2px solid transparent;
    padding: 8px;
    border-radius: 25px;
}

header nav ul li a:hover {
    background-color: rgb(129, 90, 192);
    color: black;
    transition: all .5s;
}


main {
    background-image: url(https://t3.ftcdn.net/jpg/06/31/63/40/360_F_631634060_ACfRh22AXQGMf0y6G3JvVCohcPqL4l7z.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main h1 {
    color: white;
    font-size: 3rem;
    letter-spacing: 20px;
    text-align: center;
}

main p {
    color: white;
    letter-spacing: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px;
}

.service-card {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    padding: 20px;
    text-align: center;
}

.service-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.service-card h2 {
    margin: 20px 0 10px;
    color: #333;
}

.service-card p {
    margin: 5px 0;
    color: #666;
}


h1 {
    display: flex;
    justify-content: center;
    margin: 44px;
    font-size: 3rem;
}


@media (max-width: 1200px) {
    header {
        width: 100%;
    }
    
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 550px) {
    .logo {
        width: 70px;
    }
    
    header nav ul {
        flex-direction: column;
        width: 70px;
    }

    main h1 {
        font-size: 2rem;
        letter-spacing: 10px;
        width: 70px;
    }

    .container {
        grid-template-columns: 1fr;
        padding: 20px;
        width: 70px;
    }
    main{
        width: 100px;
    }
}

@media (max-width: 480px) {
    header nav ul li a {
        margin: 10px;
        padding: 5px;
    }
    
    main h1 {
        font-size: 1.5rem;
        letter-spacing: 5px;
    }

    main p {
        font-size: 0.9rem;
        letter-spacing: 5px;
    }
}

 